body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 15px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1 {
  color: #000000;
  font-size: 4rem;
  margin-bottom: 25px;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}
h2 {
  color: #000000;
  font-size: 3rem;
  margin-bottom: 25px;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

h3 {
  color: #000000;
  font-size: 2;
  line-height: 30px;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

h4 {
  color: #000000;
  font-weight: 500;
  font-size: 1.5rem;
  line-height: 30px;
  font-family: "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
    "Segoe UI Symbol", "Noto Color Emoji";
}

p {
  color: #575d63;
  font-size: 1.5rem;
  font-weight: 300;
  margin-bottom: 40px;
  margin-left: auto !important;
  margin-right: auto !important;
}

.home-banner-area {
  // background: url(./img/landing-page/home-banner-bg.png) no-repeat center;
  background-size: cover;
  position: relative;
  margin-top: -105px;
  width: 100%;
}

.container {
  max-width: 1024px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.text-md-left {
  text-align: left !important;
}

.row {
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

.home-banner {
  flex: 0 0 50%;
  max-width: 50%;
  display: flex;
}

.col {
  position: relative;
  width: 100%;
  min-height: 1px;
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

.fullscreen {
  height: 763px;
}

.primary-btn {
  background: transparent;
  line-height: 48px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 0px;
  border: 2px solid #4ba0f9;
  color: #000000;
  display: inline-block;
  font-weight: 500;
  position: relative;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
  transition: all 0.3s ease 0s;
  cursor: pointer;
  text-transform: uppercase;
  position: relative;
}

a,
a:focus,
a:hover {
  text-decoration: none;
  outline: 0;
}

.align-items-end {
  align-items: flex-end !important;
}

.img-fluid {
  max-width: 100%;
  height: auto;
}
img {
  vertical-align: middle;
  border-style: none;
}

.right {
  max-width: 50%;
  display: flex;
  flex: 0 0 50%;
}

/* timekeeper area */

.timekeeper-banner-area {
  position: relative;
}

.border {
  display: flex;
  height: 500px;
  margin-top: 100px;
  background: #f063b826;
  border-radius: 50px;
}

/* ----- features area */

.text-center {
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  text-align: center;
}

.each-feature {
  flex: 1 0 50%;
  display: flex;
  position: relative;
  margin-top: 20px;
}

.row-features {
  justify-content: center;
}

.wrap-feature {
  border: 1px solid beige;
  padding: 20px 20px 20px 100px;
  margin: 0 0 0 100px;
  border-radius: 10%;
  background-color: #9b69e228;
}

.absolute-image {
  position: absolute;
  top: 100px;
  left: 30px;
}

.absolute-image img {
  width: 10rem;
}

.row-features {
  margin-bottom: 100px;
}

.wrap-feature p {
  margin: 20px;
}

body {
  scroll-behavior: smooth;
}

/* Footer */
#main-footer {
  color: #111;
  padding-top: 100px;
  margin-top: 100px;
  border-top: 2px solid blanchedalmond;
  text-align: center;
}

#main-footer a {
  color: #111;
  padding: 15px;
}

#main-footer .footer-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-gap: 1.5rem;
}

#main-footer .footer-container > *:last-child {
  grid-column: 1 / span 4;
  padding: 0.5rem;
  text-align: center;
  font-size: 0.75rem;
}

#main-footer .footer-container input[type="email"] {
  width: 90%;
  padding: 0.5rem;
  margin-bottom: 0.5rem;
}

#main-footer .footer-container input[type="submit"] {
  width: 90%;
}

#main-footer p {
  margin-bottom: 1rem;
}
#main-footer li {
  margin: 10px;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  border: none;
  background: #681a8b;
  color: #fff;
  padding: 0.5rem 1.5rem;
}

/*profile page tabs added by nelle*/

a.active.nav-link {
  background-color: blueviolet;
  color: white;
}
